p {
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
    font-size: 5rem;
    text-align: center;
}

.bi-chevron-left {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    left: 1%;
}

.bi-pentagon-fill {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 2%;
}

.calendar-container {
    position: absolute;
    border: 5px solid black;
    left: 1%;
    top: 15%;
    width: 60%;
    height: 83%;
}

.weather-container {
    position: absolute;
    border: 5px solid black;
    right: 1%;
    top: 15%;
    width: 37%;
    height: 55%;
}

.lucky-container {
    position: absolute;
    border: 5px solid black;
    right: 1%;
    top: 72%;
    width: 37%;
    height: 26%;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    column-gap: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.weekday {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 2rem;
    text-align: center;
    padding: 1%;
    padding-top: 3%;
    row-gap: 35%;
}

.date-item {
    /* padding: 100%; */
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

.left,
.right,
.month {
    cursor: pointer;
}

@media screen and (max-width : 1024px) {

    p {
        font-size: 3.5rem;
    }

    .bi-chevron-left {
        font-size: 2.5rem;
        top: 3%;
    }

    .bi-pentagon-fill {
        font-size: 2.5rem;
        top: 3%;
    }

    .calendar-container {
        top: 10%;
        width: 98%;
        height: 55%;
    }

    .title {
        font-size: 2.5rem;
    }

    .weekday {
        font-size: 1.5rem;
    }

    .dates {
        font-size: 1.5rem;
        row-gap: 23%;
    }

    .weather-container {
        left: 1%;
        top: 66%;
        width: 55%;
        height: 33%;
    }

    .lucky-container {
        right: 1%;
        top: 66%;
        width: 42%;
        height: 33%;
    }

}

@media screen and (max-width : 768px) {

    p {
        font-size: 2rem;
    }

    .bi-chevron-left {
        font-size: 1.5rem;
        top: 1%;
    }

    .bi-pentagon-fill {
        font-size: 1.5rem;
        top: 1%;
    }

    .calendar-container {
        top: 5%;
        width: 98%;
        height: 60%;
    }

    .title {
        font-size: 2rem;
    }

    .weekday {
        font-size: 1.5rem;
    }

    .dates {
        font-size: 1.5rem;
        row-gap: 35%;
    }

    .weather-container {
        left: 1%;
        top: 66%;
        width: 98%;
        height: 30%;
    }

    .lucky-container {
        left: 1%;
        top: 97%;
        width: 98%;
        height: 20%;
    }

}