.Img {
    position: absolute;
    border: 5px solid black;
    width: 30%;
    height: 83%;
    top: 1%;
    right: 1%;
}

.face-img {
    position: absolute;
    border: 2px solid black;
    width: 10%;
    height: 15%;
    border-radius: 50%;
    left: 43.5%;
    top: 5%;
}

.face-txt {
    position: absolute;
    font-size: 1rem;
    left: 20%;
    top: 32%;

    font-family: 'East Sea Dokdo', sans-serif;
    font-family: 'Gowun Batang', serif;
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clothes-container {
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    font-size: 1em;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileContainer .fileName {
    display: none;
}

#chooseFile {
    position: absolute;
    visibility: hidden;
}

#faceImg {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #eee;
    text-align: center;
}

#imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#imageContainer img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width : 1024px) {
    .face-img {
        top: 12%;
        left: 43%;
        width: 12%;
        /* width: 13%;
        height: 17%; */
    }

    .face-txt {
        left: 21%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width : 768px) {
    .face-img {
        top: 15%;
        left: 42.5%;
        width: 15%;
        height: 12%;
    }

    .face-txt {
        left: 15%;
        font-size: 0.7rem;
    }
}