h1 {
    font-size: 4rem;
    text-align: center;
    /* top: 100px;*/
}

#ment {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 2.5rem;

    font-family: 'East Sea Dokdo', sans-serif;
    font-family: 'Gowun Batang', serif;
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
}

.closet-container {
    position: absolute;
    border: 5px solid black;
    width: 67%;
    height: 83%;
    top: 15%;
    left: 1%;
}

.clothes-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Score-container {
    position: absolute;
    border: 5px solid black;
    width: 30%;
    height: 83%;
    top: 15%;
    right: 1%;
} 

#s-ment {
    position: absolute;
    left: 3%;
    font-size: 3rem;  
    font-family: 'East Sea Dokdo', sans-serif;
    font-family: 'Gowun Batang', serif;
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
}

@media screen and (max-width : 1024px) {
    .closet-container {
        left: 1%;
        top: 10%;
        width: 98%;
        height: 75%;
    }

    .Img {
        left: 1%;
        top: 81%;
        width: 98%;
        height: 30%;
    }

    .Score-container {
        top: 86%;
        left: 1%;
        width: 98%;
        height: 40%;
    }
}

@media screen and (max-width : 768px) {
    .closet-container {
        top: 6%;
    }

    .Score-container {
        top: 82%;
    }
}