 h1 {
    font-size: 4rem;
    text-align: center;
    /* top: 100px; */
}

.triangle {
    position: absolute;
    left: 40%;
    top: 80%;
    /* bottom: %; */
    width: 0;
    height: 0;
    /* -webkit-transform: scaleX(2); */
    /* transform: scaleX(2);
    transform: scaleY(7); */
    border: 5px solid black; 
    border-bottom: 100px solid gray;
    border-left: 100px solid transparent;
}

.Flirting {
    position: absolute;
    width: 0px;
    height: 0px;

    left: 1%;
    top: 15%;

    /* transform: scaleX(3);
    transform: scaleY(2);
    transform: scale(2); */

    border-top: 360px solid #666666;
    border-right: 180px solid transparent;
    border-left: 180px solid #666666;
}

.fashion {
    position: absolute;
    right: 1%;
    top: 15%;
    width: 50%;
    height: 20%;
    border: 5px solid black;
}

.confession {
    position: absolute;
    right: 22%;
    top: 38%;
    width: 29%;
    height: 60%;
    border: 5px solid black;
}

.beauty {
    position: absolute;
    right: 1%;
    top: 38%;
    width: 20%;
    height: 60%;
    border: 5px solid black;
}