*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* a{
    text-decoration: none;
    color: black;
} */

img{
    max-width: 100%;
    height: auto;
}

#title {
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
    font-size: 5rem;
    text-align: center;
}

.bi-chevron-left {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    left: 1%;
}

.bi-pentagon-fill {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 2%;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
}
/* 링크에 마우스를 올렸을 때의 스타일 */
a:hover {
  text-decoration: none; /* 밑줄 제거 */
}
/* 링크를 클릭한 후의 스타일 */
a:active {
  color: inherit; /* 부모 요소의 색상 상속 */
}

.ment-container {
    position: absolute;
    left: 1%;
    top: 15%;
    width: 98%;
    height: 84%;
    border: 5px solid black;
}

#ment {
    position: absolute;
    top: 33%;
    left: 23%;

    font-size: 10rem;
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
}

@media screen and (max-width : 1024px) {

    #title {
        font-size: 3.5rem;
    }

    .bi-chevron-left {
        font-size: 2.5rem;
        top: 3%;
    }

    .bi-pentagon-fill {
        font-size: 2.5rem;
        top: 3%;
    }

    .ment-container {
        top: 10%;
        height: 89%;
    }

    #ment {
        top: 40%;
        left: 21%;
        font-size: 5rem;
    }

}

@media screen and (max-width : 768px) {

    #title {
        font-size: 2rem;
    }

    .bi-chevron-left {
        font-size: 1.5rem;
        top: 1%;
    }

    .bi-pentagon-fill {
        font-size: 1.5rem;
        top: 1%;
    }

    .ment-container {
        top: 6%;
        height: 93%;
    }

    #ment {
        top: 45%;
        font-size: 3rem;
    }

}