*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* a{
    text-decoration: none;
    color: black;
} */

img{
    max-width: 100%;
    height: auto;
}

#title {
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
    font-size: 5rem;
    text-align: center;
}

.bi-chevron-left {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    left: 1%;
}

.bi-pentagon-fill {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 2%;
}

@media screen and (max-width : 1024px) {

    #title {
        font-size: 3.5rem;
    }

    .bi-chevron-left {
        font-size: 2.5rem;
        top: 3%;
    }

    .bi-pentagon-fill {
        font-size: 2.5rem;
        top: 3%;
    }

}

@media screen and (max-width : 768px) {

    #title {
        font-size: 2rem;
    }

    .bi-chevron-left {
        font-size: 1.5rem;
        top: 1%;
    }

    .bi-pentagon-fill {
        font-size: 1.5rem;
        top: 1%;
    }

}