/* .TOP-Img {
    position: absolute;
    width: 25%;
    height: 50%;
    left: 27%;
    top: 25%;
} */

.TOP-container {
    position: absolute;
    /* display: inline-block; */
    top: 19%;
    left: 36%;

    width: 25%;
    height: 15%;
    z-index: 100;
}

/* #TOP-item {
    position: absolute;
    /* top: 80%; */
    /* left: 20%;
    width: 60%;
    height: 50%;

    top: 19%;
    left: 36%;
    z-index: 100;
} */

.prev-TOP {
    position: absolute;
    top: 100%;
    left: -13%;
    font-size: 3rem;
}

.next-TOP {
    position: absolute;
    top: 100%;
    right: -17%;
    font-size: 3rem;
}

.BOTTOM-container {
    position: absolute;
    top: 43%;
    left: 31%;
    width: 35%;
    height: 75%;
}

.prev-BOTTOM {
    position: absolute;
    top: 30%;
    left: 3%;
    font-size: 3rem;
}

.next-BOTTOM {
    position: absolute;
    top: 30%;
    right: 3%; 
    font-size: 3rem;
}

#top-score-container {
    position: absolute;
    top: 28%;
    left: 23%;
    font-size: 10rem;

    font-family: 'East Sea Dokdo', sans-serif;
    font-family: 'Gowun Batang', serif;
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
}

#e-ment {
    position: absolute;
    top: 90%;
    left: 3%;
    font-size: 3rem;
 
    font-family: 'East Sea Dokdo', sans-serif;
    font-family: 'Gowun Batang', serif;
    font-family: 'Hahmlet', serif;
    font-family: 'Noto Serif KR', serif;
}

@media screen and (max-width : 1024px) {
    .TOP-container {
        top: 26%;
        left: 36.5%;
    }

    .prev-TOP {
        left: -25%;
    }

    .next-TOP {
        right: -25%;
    }

    .BOTTOM-container {
        top: 47%;
        left: 29%;
        width: 40%;
        height: 65%;
    }

    #top-score-container {
        top: 20%;
        left: 32%;
    }

    #e-ment {
        top: 80%;
    }
}

@media screen and (max-width : 768px) {
    .TOP-container {
        left: 30%;
        width: 40%;
    }

    .BOTTOM-container {
        top: 45%;
        left: 22%;
        width: 55%;
    }

    .prev-BOTTOM {
        left: -5%;
    }

    .next-BOTTOM {
        right: -5%;
    }

    #top-score-container {
        left: 20%;
    }
}